
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.dylib


build/
dist/
bin/
obj/


*.tmp
*.log
*.swp  
*~    


.idea/    
.vscode/ 
*.sublime-*  
.DS_Store
Thumbs.db 
sdk/cpu/wl83/tools/
sdk/apps/wifi_camera/board/wl83/AC792N_WIFI_CAMERA.depend
sdk/apps/wifi_camera/board/wl83/AC792N_WIFI_CAMERA.layout

