{
  "id": "#9Q2xwvNHcnzi2MnL",
  "name": "dvr_800x480_LY",
  "sdk": "WL83",
  "version": "1.0.0",
  "sdk_root": "..\\sdk",
  "res_path": "..\\sdk\\ui_res",
  "lvgl_ui_path": "..\\..\\..\\sdk\\apps\\wifi_camera\\lvgl_v8_ui_app\\style_LY",
  "build_script": "..\\sdk\\copy_ui_res.bat",
  "download_script": "..\\..\\..\\sdk\\apps\\wifi_camera\\board\\wl83\\ui_build.bat",
  "clear_script": "..\\..\\..\\sdk\\apps\\wifi_camera\\board\\wl83\\ui_clean.bat",
  "chip_type": "WL83",
  "content": ""
}